@import '../../../../color.scss';


.modal-content {
    .form {
        display: flex;
        flex-direction: column;
        text-align: center;
        
        h1{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        label{
            text-align: left;
            font-size: 0.9rem;
            margin-bottom: 0.6rem;
        }

        input {
            border: none;
            outline: none;
            height: 3rem;

            background-color: $BACKGROUND;
            padding: 0.9rem 0.5rem;
            border-radius: 10px;           

            &:last-child{
                margin-bottom: 2.5rem;
            }

            &:active, &:focus{
                border : 1px solid $PRIMARY;
            }


        }

        .input-alert{
            font-size: 0.8rem;
            text-align: left;
            color: $ERROR;
            margin: 0.5rem 0 2rem 0.2rem;
            height: 0.5rem;
        }

 
    }
    

    button {
        border :none;
        outline :none;
        margin-bottom: 1.4rem;
        padding: 0.7rem;
        border-radius: 15px;
        cursor: pointer;
    }   

    .button-signin, .button-signup{
        background-color: $PRIMARY;
    }

    button.yet{
        background-color: $PLACEHOLDER;
    }



    

    .button-move-signup, .button-move-signin {
        cursor: pointer;
        text-align: center;
        font-size: 0.9rem;
    }

    .modal-logout{
        text-align: center;

        .buttons-logout{
            position: relative;
            text-align: right;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.5rem;
            gap: 2rem;

            button {
                margin: 0;
                width: 9rem;
                align-self: flex-end;
                
                &:first-child{
                    background-color: $PLACEHOLDER;

                    &:hover{
                        background-color: $ERROR;
                    }
                }

                                
                &:nth-child(2){
                    background-color: $PLACEHOLDER;

                    &:hover{
                        background-color: $PRIMARY;
                    }
                }
            }
        }
    }

    #button-github{
        width: 100%;
        background-color: $CANCEL;
    }
}

