@import "@src/color.scss";


.wrapper-content-calendar{
    display: flex;
    justify-content: center;

    &, .container-content-calendar{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container-content-calendar{
        width: 85%;

    }

    // &, .container-content {
    //     width: 100%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex-direction: column;
    // }

    // .container-content{
    //     display: flex;
    //     justify-content: center;
    //     width: 65%;
    // }

    .calendar {
        width: 100%;
        border-left: 1px solid  $BORDER;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);        .dates {
            display: flex;
            flex-flow: row wrap;
            .date {
                background-color: $OFF_WHITE;
                position: relative;
                width: calc(100% / 7);
                text-align: right;
                border-right: 1px solid $BORDER;
                border-bottom: 1px solid  $BORDER;

                
                .dateNum{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding: 0.3rem;
                }

                &:nth-child(1){
                    border-top-left-radius: 15px;
                }
                &:nth-child(7){
                    border-top-right-radius: 15px;
                }

                &:nth-child(36){
                    border-bottom-left-radius: 15px;
                }

                &:last-child{
                    border-bottom-right-radius: 15px;
                }

                &:nth-child(-n+7){
                    border-top: 1px solid  $BORDER;
                }

                &:after{
                    content: "";
                    display: block;
                    padding-top: 100%;
                }

                &:nth-child(7n + 1) {
                    color: #D13E3E;
                }
                
                &:nth-child(7n) {
                    color: #396EE2;

                }    

                &.notCurrent{
                    color: $BORDER;
                }

                &.today{
                    background-color: $BACKGROUND;
                }


                .day-history{
                    position: absolute;
                    text-align: left;
                    padding: 0.8rem;
                    font-size: 1rem;
                    > * {
                        margin-bottom: 0.5rem;
                    }

                    .day-total{
                        color: $PRIMARY;
                    }
                    
                    .day-consume{
                        color : $ERROR;
                    }

                    .day-income{
                        color: #7D9EEC;
                    }
                }
            }
        }
    }

    .footer{
        width: 100%;
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;
        font-size:0.9rem;
        color: $BODY;

        >:first-child{
            position: relative;
            left: 1rem;
        }

        >:nth-child(2){
            position: relative;
            right: 1rem;
        }
    }
}

