@import '@src/color.scss';

.wrapper-add-history {

    .container-add-history-input {
        // background-color: burlywood;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 100%;
        border-top: 1px solid $BORDER;
        border-bottom: 1px solid $BORDER;
        margin-bottom: 2rem;
        

        .container-input-first-floor,
        .container-input-second-floor,
        .container-input-third-floor,
        .container-input-fourth-floor,
        .container-input-five-floor {
            width: 100%;
            height: 2rem;
            display: flex;
            flex-direction: row;

            >* {
                height: 2rem;
            }
        }
        
        .container-input-first-floor {
            justify-content: center;
            align-items: center;

            .consume,
            .income {
                display:flex;
                flex-direction: row;
                align-items:center;
                height: 2rem;
                width: fit-content;
            }
        }

        .container-input-second-floor {
            justify-content: space-around;
            align-items: center;

            input,
            select {
               width: 44%;
               text-align: center;
           }
        }

        .container-input-third-floor {
            justify-content: center;
            align-items: center;
            input {
                width: 94%;
            }
        }

        .container-input-fourth-floor {
            justify-content: space-around;
            align-items: center;
            input {
                width: 44%;
            }
        }

        .container-input-five-floor {
            justify-content: space-around;
            align-items: center;
            margin-bottom: 1rem;

            button {
                display: block;
                all: unset;
                width: 44%;
                border-radius: 0.5rem;
                border: 2px solid $BORDER;
                text-align: center;
                height: 2rem;
                font-weight: bold;

                &:first-child:hover {
                    color: $PRIMARY;
                    font-weight: bold;
                }
    
                &:nth-child(2):hover {
                    color: red;
                    font-weight: bold;
                }
            }
    
        }

        .select {
            font-size: 1.1rem;
            height: 2rem;
            border-radius: 0.5rem;
            border: 2px solid $BORDER;
            background-color: transparent;
        }
    
        .select:focus {
            font-size: 1.1rem;
            height: 2rem;
            border-radius: 0.5rem;
            outline: none;
            border: 2.5px solid $PRIMARY;
            background-color: transparent;
        }
    
        .input {
            all: unset;
            font-size: 1.1rem;
            height: 2rem;
            border-radius: 0.5rem;
            border: 2px solid $BORDER;
        }
    
        .input:hover {
            border: 2px solid rgba(177, 227, 225, 0.94);
            border-radius: 0.5rem;
        }
    
        .input:focus {
            border: 2px solid $PRIMARY;
            border-radius: 0.5rem;
        }
        
        .input-date {
            background-color: transparent;
            border: 2px solid $BORDER;
            border-radius: 0.5rem;
        }
        
        .input-date:hover {
            border: 2px solid rgba(177, 227, 225, 0.94);
        }
    
        .input-date:focus {
            outline: none;
            border: 2px solid $PRIMARY;
        }
        
        .input-status {
            // appearance: none;
            width: 1rem;
            height: 1rem;
            border-radius: 100%;
            margin-right: 0.5rem;
            background-color: transparent;
            border: 1px solid $BORDER;
            margin-left: 1rem;
        }
        
        .input-status:checked {
            background-color: $PRIMARY;
        }
    }
    &.wrapper-add-history-hidden {
        display: none;
    }
}
