@import './color.scss';

body{
    background-color: $BACKGROUND;

    .app {
        display: flex;
        flex-direction: row;
        background-color: #0051CB;

        // min-width: 60rem;
        overflow-x: hidden;
        overflow-y: hidden;

        .appbar {
            .appbar {
                z-index: 0;
            }
        }

        .container-content {
            // z-index: 1;
            background-color:$BACKGROUND;
            width: 90vw;
            height: 93vh;
            margin-top: 7vh;
            display: flex;
            flex-direction: column;
            // min-width: 30rem;
            overflow-x: hidden;
            border-top-left-radius: 2rem;
            box-shadow: -3px -3px 15px 3px $LABEL;

            .content {
                width:100%;
            }

            &.move-down {
                transform: translateX(82vw) translateY(79vh);
                transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
            }
            
            &.move-up {
                transform: translateX(0rem) translateY(0rem);
                transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
    }

    .container-notfound{
        width: 100vw;
        position: relative;
        height: 83vh;
        background-color: $BACKGROUND;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}