@import './color.scss';

body{
    background-color: $BACKGROUND;
    
    .appbar{
        .container-appbar{
            z-index: 1;
        }
    }

    .content{
        position: relative;
        bottom: 1.5rem;
    }

    .opacity{
        opacity: 0.5;
    }

    .container-notfound{
        width: 100vw;
        position: relative;
        height: 83vh;
        background-color: $BACKGROUND;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}