@import './color.scss';

body{
    background-color: $BACKGROUND;
    
    .appbar{
        .container-appbar{
            z-index: 1;
        }
    }

    .content{
        position: relative;
        bottom: 1.5rem;
    }


}