@import "../../../color.scss";


.container-calendar{
    .wrapper-footer{
        color: $BODY;
        font-size: 0.9rem;

        margin-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        .container-footer{
            width: 65%;
            display: flex;
            justify-content: space-between;
        }
    }
}