@import '../../../../../color.scss';
   
.container-unit-history-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: khaki;
    margin-bottom: 0.5rem;

    .info-content {
        flex-grow: 1;
        background-color: rgb(182, 180, 180);
        
    }

    .info-category {
        width: 15%;
    }

    .info-paytype {
        width: 25%;
    }
    
    
    .info-price {
        width: 15%;
        text-align: right;
    }
}
