@import '../../../color.scss';

.wrapper-searchbar{
    z-index: 1;
    position: fixed;
    top: 14%;

    &, .container-searchbar {
        width: 100%;
    }

    .container-searchbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 5rem;
        background-color: $OFF_WHITE;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        li {
            width: 10rem;
            height: 2.5rem;
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            border-right: 1px solid gray;

            label {
                font-size: 0.8rem;
                color: $PRIMARY;
                font-weight: bold;
                height: 1rem;
            }

            input, select {
                margin-right: 1rem;
                font-size: 1rem;
                border: none;
                background-color: transparent;
                border: 2px solid transparent;
            }

            input:hover, select:hover {
                border: 2px solid rgba(177, 227, 225, 0.94);
                border-radius: 0.5rem;
                outline: none;
            }
        
            input:focus, 
            select:focus {
                outline: none;
                border: 2px solid $PRIMARY;
                border-radius: 0.5rem;
            }

            &.li-date {
                flex-grow: 8;
                padding-right: 1rem;
            }

            &.li-content {
                flex-grow: 2;
            }


            &.li-value {
                flex-grow: 2;
                padding-right: 1rem;
                border: none;
            }

            .container-value,
            .container-date {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;


                input {
                    width: 0;
                    flex-grow: 1;
                    text-align: center;
                }
            }
        }

        button {
            width: 3rem;
            height: 2.5rem;
            margin-right: 1rem;
            font-size: 1rem;
            font-weight: bold;
            color: $PRIMARY;
            border: 2px solid $PRIMARY;
            border-radius: 0.2rem;
            background-color: white;
            margin-left: 0.5rem;
        }
    }
}