@import '@src/color.scss';
@import '@src/animation.scss';


@keyframes movedown {
    from {
        transform: translate(0rem);
    } 
    to {
        transform: translate(10rem);
    }        
}

.wrapper-month-history {
    display: flex;
    flex-direction: column;
    width: 100%;

    &.movedown {
        animation-name: movedown;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .wrapper-daily-history {
        width: 100%;
    }

    &.fadein,
    .fadein {
        opacity: 0;
        animation: fadein 1.3s;
        -moz-animation: fadein 1.3s; /* Firefox */
        -webkit-animation: fadein 1.3s; /* Safari and Chrome */
        -o-animation: fadein 1.3s; /* Opera */
        animation-fill-mode: forwards;
    }

    &.fadeout,
    .fadeout {
        opacity: 1;
        animation: fadeout 1.3s;
        -moz-animation: fadeout 1.3s; /* Firefox */
        -webkit-animation: fadeout 1.3s; /* Safari and Chrome */
        -o-animation: fadeout 1.3s; /* Opera */
        animation-fill-mode: forwards;
    }
}


