@import '../../../color.scss';
   
.wrapper-month-history {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: goldenrod;

    
    .wrapper-daily-history {
        width: 100%;
        background-color: indianred;
        margin-bottom: 2rem;
    }
}
