@import '../../../color.scss';

.container-filter {
    display: flex;
    flex-direction: row;
    width: 70%;
}


.wrapper-month-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

    .wrapper-img-login {
        // display: flex;
        // flex-direction: column;
        margin-top: 2rem;
        width: 100%;
        border-radius: 1.5rem;
        // justify-content: center;
        // align-items: center;

        .footer {
            display: block;
            width: 100%;
            text-align: center;
            background-color: rgb(29, 29, 29);
            color: white;
            font-weight: bold;
            font-size: 2.2rem;
            margin-top: -1.5rem;
            border-bottom-left-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

        .img-baedal {
            width: 100%;
            border-radius: 1.5rem;
        }
    }
}