@import '@src/color.scss';
@import '@src/animation.scss';

.content {
    display: flex;
    flex-direction: row;
    // min-width: 20rem;
    overflow-y: hidden;


    .container-filter,
    .wrapper-add-history,
    .wrapper-month-history {
        width: 100%;
        padding-left: 1%;
        padding-right: 3%;
    }
    .container-filter {
        display: flex;
        flex-direction: row;
        height: 3rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: space-between;
        font-size: 1.3rem;
        color: $PRIMARY;

        &.fadein {
            opacity: 0;
            animation: fadein 1.3s;
            -moz-animation: fadein 1.3s; /* Firefox */
            -webkit-animation: fadein 1.3s; /* Safari and Chrome */
            -o-animation: fadein 1.3s; /* Opera */
            animation-fill-mode: forwards;
        }
    }
    
    .wrapper-add-history {
        height: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .wrapper-month-history {
        
        display: flex;
        flex-direction: column;
        align-items: right;

        height: 80vh;
        overflow-y: auto;

        &.fadein {
            opacity: 0;
            animation: fadein 1.3s;
            -moz-animation: fadein 1.3s; /* Firefox */
            -webkit-animation: fadein 1.3s; /* Safari and Chrome */
            -o-animation: fadein 1.3s; /* Opera */
            animation-fill-mode: forwards;
        }

        
        .container-month-history {
            // overflow-y:;
            padding-right: 1rem;
        }
    
        .wrapper-img-login {
            margin-top: 2rem;
            width: 100%;
            border-radius: 1.5rem;
    
            

            .footer {
                display: block;
                width: 100%;
                text-align: center;
                background-color: rgb(29, 29, 29);
                color: white;
                font-weight: bold;
                font-size: 2vw;
                margin-top: -1.5rem;
                border-bottom-left-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
            }
    
            .img-baedal {
                width: 100%;
                border-radius: 1.5rem;
            }
        }
    }


}


