@import '@src/color.scss';
@import '@src/animation.scss';

.container-filter {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    flex-wrap: wrap;

    .container-checkbox {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;

        &.fadein,
        .fadein {
            opacity: 0;
            animation: fadein 1.3s;
            -moz-animation: fadein 1.3s; /* Firefox */
            -webkit-animation: fadein 1.3s; /* Safari and Chrome */
            -o-animation: fadein 1.3s; /* Opera */
            animation-fill-mode: forwards;
        }

        .div-space-layout {
            width: 1rem;
        }

        .custom-checkbox {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            
            .checkbox {
                border: 2px solid $PRIMARY;
                width: 1.7rem;
                height: 1.7rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.5rem;
                margin-right: 0.3rem;
                cursor: pointer;

                img {
                    width: 1.3rem;
                    height: 1.3rem;
                }


            }

            .text-total-consume,
            .text-total-income {
                cursor: pointer;
            }
        }
        
    }
}


.hidden {
    display: none;
}