@import '../../../color.scss';


.wrapper-donut{

    .container-donut{
        height: 100%;
        background-color: $OFF_WHITE;
        width: 65%;
        border-radius: 15px;
        display: flex;

        >*{
            width: 50%;
        }
    }
}

