@import '@src/color.scss';


.appbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #0051CB;
    width: 12vw;
    min-width: 12rem;
    padding: 0 0.7rem;
    .container-nav,
    .container-fab-button {
        width: 100%;
        display: flex;
        flex-direction: column;

        .button-container,
        .nav-button-container {
            border-radius: 7px;
            
            
            >*{
                display: flex;
                align-items: center;
                cursor: pointer;
                
            }

            &.active{
                background-color: #063781;
                -webkit-transition: background-color 500ms linear;
                -ms-transition: background-color 500ms linear;
                transition: background-color 500ms linear;

                button{
                    -webkit-transition: background-color 500ms linear;
                    -ms-transition: background-color 500ms linear;
                    transition: background-color 500ms linear;
                    background-color:   #063781;
                }
            }

            display: flex;
            flex-direction: row;
            align-items: center;
            height: 4.5vh;
            width: 95%;
            padding: 1rem;

            button {
                flex-grow: 0;
                background-color:  #0051CB;
                border: none;
            }

            .text {
                flex-grow: 1;
                text-align: left;
                padding-left: 0.5rem;
                color: $OFF_WHITE;
            }

  
            img{
                cursor: pointer;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(202deg) brightness(106%);
            }
        

        }

        .button-container {

            &:hover {
                transform: translateY(-0.5rem);
                transition: transform 0.5s;
            }

            &.animated {
                animation-duration: 1.7s;
                animation-fill-mode: both;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            } 
              

            @keyframes bounce { 
                0%, 100% {
                    transform: translateY(0px) scale(1);
                    box-shadow: 0px 0px 0px 0px #757575;
                }
                10%, 90% {
                    transform: translateY(-2px) scale(1.03);
                    box-shadow: 0px 0px 1px 1px #858585;
                }
                20%, 80% {
                    transform: translateY(-4px) scale(1.06);
                    box-shadow: 0px 0px 3px 3px #959595;
                }
                30%, 70% {
                    transform: translateY(-7px) scale(1.1);
                    box-shadow: 0px 0px 3px 4px #a5a5a5;
                }
                40%, 60%  {
                    transform: translateY(-10px) scale(1.14);
                    box-shadow: 0px 0px 5px 5px #b5b5b5;
                }
                50% {
                    transform: translateY(-12px) scale(1.17);
                    box-shadow: 0px 0px 7px 7px #c5c5c5;
                }
            }
            
            @keyframes in {
                0% { 
                      opacity: 0;
                      transform: translateY(50px) rotate(90deg);
                  }
                  100% { 
                      opacity: 1;
                      transform: translateY(0) rotate(0);
                  }
            }


            &.bounce { 
                animation-name: bounce;
            }

            &.title-main{
                width: 20vw;
                min-width: 20rem;
                height: 5vh;
                margin-top: 2vh;
                margin-bottom: 2vh;
                color: white;
                font-size: 1.5rem;
                font-weight: bold;
                span {
                    display: inline-block;
                    opacity: 0;
                    transform: translateY(20px) rotate(90deg);
                    transform-origin: left;
                    animation: in 0.5s forwards;
                    @for $i from 1 to 8 {
                        &:nth-child(#{$i}) { 
                            animation-delay: $i * 0.1s;
                        }
                    }
                }
            }

        }
    }
}