@import '@src/color.scss';
@import '@src/animation.scss';


.modal {
    position: fixed;
    display: flex;
    right:0;
    bottom:0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
    &.fadein,
    .fadein {
        opacity: 0;
        animation: fadein 0.7s;
        -moz-animation: fadein 0.7s; /* Firefox */
        -webkit-animation: fadein 0.7s; /* Safari and Chrome */
        -o-animation: fadein 0.7s; /* Opera */
        animation-fill-mode: forwards;
    }

    &.fadeout,
    .fadeout {
        animation: fadeout 0.3s;
        -moz-animation: fadeout 0.3s; /* Firefox */
        -webkit-animation: fadeout 0.3s; /* Safari and Chrome */
        -o-animation: fadeout 0.3s; /* Opera */
        animation-fill-mode: forwards;
    }

    .modal-background {
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);
    }
    
    .modal-content {
        z-index: 10;
        display: flex;
        flex-direction: column;
        background-color: $OFF_WHITE;
        width: 30rem;
        border-radius: 0.5rem;
        padding: 1.7rem 3.3rem;
    }
}

.hidden {
    display: none;
}


