.modal {
    position: fixed;
    display: flex;
    right:0;
    bottom:0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
    
    .modal-background {
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);
    }
    
    .modal-content {
        z-index: 10;
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 10rem;
        border-radius: 0.5rem;
        justify-content: space-around;
    }
}

.hidden {
    display: none;
}


