@import '../../../color.scss';

.wrapper-daybar{
    z-index: 1;
    position: fixed;
    top: 14%;

    &, .container-daybar, ul {
        width: 100%;
    }

    .container-daybar{
        display: flex;
        justify-content: center;
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.3rem;
        background-color: $OFF_WHITE;
        width: 65%;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        >li{
            margin: calc(45% / 7);
        }
    }
}