@import '../../../color.scss';


.wrapper-line{
    margin-top: 2rem;

    .container-line{
        >span{
            margin-bottom: 2.5rem;
        }


        border-radius: 15px;
        background-color: $OFF_WHITE;
            width: 65%;
            height:500px;
            border-radius:10px;
            padding:30px;
            background-color: #fff;
        
            span {
                display:block;
                font-weight: bold;
                font-size: 1.2rem;
                height : 1rem;
            }
        
            .expense-by-category__content{
                
                @mixin delimiter-font-set {
                    height:fit-content;
                    font-weight:normal;
                    font-size:15px;
                }
        
                display:grid;
                grid-template-columns: 1fr 9fr;
                grid-template-rows:6fr 1fr;
                height:calc(100% - 60px);
        
                .content__expense-delimiter{
                    display:flex;
                    flex-direction: column;
                    justify-content: space-around;
                    text-align:right;
                    height: 325.7px;
                    
                    span{
                        @include delimiter-font-set;
                        margin-right:10px;
                        line-height:2px;
                    }
                }
        
                .content__curved-chart{
                    
                    width: 40rem;
                    height:325.7px;

                    path{
                        width: 100%;
                        height: 100%;

                    }

                    transform:rotateX(180deg);
                }
        
                .content__day-delimiter{
                    grid-column:2;
                    grid-row:2;
                    display:flex;
                    justify-content: space-evenly;
                    span {
                        @include delimiter-font-set;
                        margin-top:10px;
                    }
                }
            }
        } 

    }

